.pb-sm-2 {
	padding-bottom: 1rem;
}
.pb-sm-3 {
	padding-bottom: 3rem;
}
.icon-size {
	width: 25%;
}
.display-sm-none {
	display: none;
}
.display-lg-none {
	display: block;
}
.header-txt {
	line-height: 33px;
	font-size: 1.5em;
	font-weight: 300;
}
.d-flex {
	display: block;
}
.info-txt-container {
	margin-bottom: 25px;
}
.registerForm input[type="submit"]{
	width: 100%;
}
.carousel-caption {
	font-size: 1.7em;
	line-height: 1.3em;
}
i{
	font-size: 2em;
}
#image-1 {
	content:url("../images/mobile-12.jpg");
}
#image-2 {
	content:url("../images/mobile-1.jpg");
}
#image-3 {
	content:url("../images/mobile-17.jpg");
}