.pb-sm-2 {
	padding-bottom: 1rem;
}
.pb-sm-3 {
	padding-bottom: 3rem;
}
.icon-size {
	width: 25%;
}
.display-sm-none {
	display: none;
}
.header-txt {
	line-height: 33px;
	font-size: 1.35em;
}
.d-flex {
	display: block;
}
.info-txt-container {
	margin-bottom: 25px;
}
.registerForm input[type="submit"]{
	width: 100%;
}